<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Expenses</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-expense">Add Expense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-expenses">View Expenses</a>
      </li>

    </ul>
  </div>
</nav>
