<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/">Expenses</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add Expense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/expenses">View Expenses</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>