.add-expense-form label {
	margin-top: 10px;
}

.add-expense-form input {
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
}

.add-expense-form select {
	margin-left: 10px;
	margin-right: 30px;
	margin-top: 10px;
}

.add-expense-form button {
	margin-left: 10px;
	margin-top: 10px;
	width: 80px;
}

.add-expense-form {
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.input-group-text {
	margin-left: 10px;
	margin-right: -10px;
	margin-top: 10px;
}


#date {
	width: 70px;
}

#place {
	width: 150px;
}

#amount {
	width: 100px;
}

#description {
	width: 300px;
}

#category {
	width: 150px;
}

#subcategory {
	width: 100px;
}