.add-expense-form input {
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
}

.add-expense-form select {
	margin-left: 10px;
	margin-right: 30px;
}

.add-expense-form {
	margin-top: 40px;
}

.input-group-text {
	margin-left: 10px;
	margin-right: -10px;
	margin-top: 10px;
}

#date {
	width: 70px;
}

#place {
	width: 250px;
}

#amount {
	width: 100px;
}

#description {
	width: 400px;
}