<div class="container-fluid">
	<h2>Add Expense</h2>
	<div class="add-expense-form">
	<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
	    	<label for="date">Date</label>
	    	<input id="date" type="text" formControlName="date">

			<label for="place">Place</label>
			<input id="place" type="text" formControlName="place">

			<label for="amount">Amount</label>
			<input id="amount" type="text" formControlName="amount">

			<label for="description">Description</label>
			<input id="description" type="text" formControlName="description">

			<label for="category">Category</label>

			<select name="category" id="category" formControlName="category">
				<option value=""></option>
				<option value="Food/Drink">Food/Drink</option>
				<option value="Rent">Rent</option>
			</select>

			<label for="subcategory">Subcategory</label>
			<select name="subcategory" id="subcategory" formControlName="subcategory">
				<option value=""></option>
			</select>

		<button class="button" type="submit">Add</button>

	</form>
	</div>
</div>